output "HDMI-A-1" {
    // off
    mode "3840x1080@60"
    scale 1.0
    variable-refresh-rate // on-demand=true
    focus-at-startup
    backdrop-color "#001100"

    hot-corners {
        // off
        top-left
        // top-right
        // bottom-left
        // bottom-right
    }
    }
